<p>
  <strong>Title:</strong>
  <%= link_to task.title, [task.category, task] %>
</p>

<p>
  <%= link_to 'Delete', [task.category, task],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>