<div class="home_logo"> 
    <h1 class='logo_text'>Planner</h1>
</div>
<div class="home_container">

        <div class="home_image">
            <%= image_tag("home_image.png", :alt => "home image") %>
        </div>

    <div class="login">
        <%= render "shared/login" %>
    </div>
</div>