<div class="banner_home">
    <nav>
        <ul class='nav-container'>
            <li><h1 class='logo'><%= link_to "Planner", root_path %></h1></li>
            <li class><h1><%= link_to 'Sign In', new_user_session_path %></h1></li>
        </ul>
    </nav>

    <div class="center-table">
        <div class="content">
            <h1>Planner</h1>
            <p class='desc'>Organize. Succeed.</p>
            <div class="underline"><%= link_to 'Create an account', new_user_registration_path %></div>
        </div>
    </div>
</div>