// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// img {
//     max-width: 100%;
//     height: auto;
// }

.banner_home {
  background: url("background_img.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 868px;
}

.content {
  padding: 12rem 15rem;
  color: rgb(66, 66, 66);
  font-size: 2.5rem;
  letter-spacing: 1rem;
}

.desc {
  font-size: 1.5rem;
}

.underline {
  margin-top: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-decoration: underline;
}

a:hover {
  color: rgb(168, 168, 168);
}