<div class="dashboard-center"><h1>Dashboard</h1></div>

<div class="grid">
  <% @categories.each do |category| %>
  <div class="hover-color">
    <div class="category">
      <h2><%= link_to category.title, category %></h2>
      <div class="text-left">
      <%# <%= render :partial => category.tasks %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= button_to "logout", destroy_user_session_path, method: :delete %>